USE [TEST]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 4/23/2018 5:06:39 PM ******/
DROP TABLE [dbo].[Persons]
GO
USE [master]
GO
/****** Object:  Database [TEST]    Script Date: 4/23/2018 5:06:39 PM ******/
DROP DATABASE [TEST]
GO
/****** Object:  Database [TEST]    Script Date: 4/23/2018 5:06:39 PM ******/
CREATE DATABASE [TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'news', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\news.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'news_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\news_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 4/23/2018 5:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](50) NULL,
	[LastName] [nchar](50) NULL,
	[Age] [nchar](10) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

GO
INSERT [dbo].[Persons] ([ID], [FirstName], [LastName], [Age]) VALUES (1, N'Emilio', N'Graterol', N'25')
GO
INSERT [dbo].[Persons] ([ID], [FirstName], [LastName], [Age]) VALUES (2, N'Jose', N'Hernandez', N'20')
GO
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
USE [master]
GO
